body {

    color: #b34b4b;
    background-color: white;
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  

.jumbotron {
   background-image: url("../../images/th1.jfif");
    background-size: 100% 100%;
    text-align: center;
  }
 
 